*{
  margin: 0;
  background-color: rgb(248, 245, 240);

}
.encabezado{
  border-width: 3px;
  border-style: solid;
  border-color: rgb(64, 6, 135);
  width: 90%;
  /* width: max-content probar en casa */
  position: relative;
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contenedor img{
  max-width: 100%;
  max-height: 100%;
}
.logo{
  width: 400px;
  height: auto
}
.inicio{
  display: flex;
  list-style: none;
  padding: 0;
}
.inicio-lateral{
  display: flex;
  list-style: none;
  padding: 0;
}
.inicio li a{
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}
.inicio-lateral li a{
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}