@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(248, 245, 240);
}
.page1{
    max-width: 100%;
}
.encabezado{
    display: grid;
    grid-template-areas: "inicio cont-logo inicio-lateral";
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    height: 100%;
}
.cont-logo{
    display: grid;
    grid-area: cont-logo;
    justify-content: center;
    align-items: center;
}
.logo{
  width: 400px;
  height: 100%;
}
.inicio{
    grid-area: inicio;
    display: flex;
    align-items: flex-end;
    list-style: none;
    height: 100%;
}
.inicio-lateral{
  grid-area: inicio-lateral;
  display: flex;
  justify-items: end;
  list-style: none;
  height: 100%;
}
.inicio li a{
    display: block;
    font-family: "Atma";
    margin-right: 0.313em;
    padding: 0.313em;
    text-decoration: none;
    background-color: beige;
}
.inicio-lateral li a{
    display: block;
    font-family: "Roboto";
    margin-right: 0.313em;
    padding: 0.313em;
    text-decoration: none;
    background-color: beige;
}
.buscar{
  list-style-image: url(imagenes/buscar.png);
  margin-right: 1.5em;
}
.buscar input{
  padding: 0.313em;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Roboto";
  background-color: beige;
}
.cuenta{
  list-style-image: url(imagenes/cuenta.png);
  margin-right: 0.5em;
}
#login{
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
#login:target{
  display: flex;
}
#login .ventana{
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;

}
.ingresar-pop{
  margin-top: 0.5em;
  padding: 5px;
  background: rgb(64, 228, 64);
  font-family: "Roboto";
  border-radius: 8px;
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
.ventana{
  position: relative;
  font-family: "Roboto";
}
.ventana .cerrar-pop{
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
.cerrar-pop img{
  display: block;
  width: 1em;
  height: 1em;
}
.carrito{
  list-style-image: url(imagenes/carrito.png);
  margin-left: 1em;
}
.slider{
  margin-top: 1em;
  border: 2px solid black;
  height: 300px;
}
.contenedor-main{
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:0.5em;
}
.img-ninos, .img-ninas, .img-bebes{
  display: flex;
  width: 100%;
}
.favoritos{
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: rgb(224, 202, 245);
  text-align: center;
  font-family: "Atma";
  font-size: 20px;
  text-shadow:-1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
.cont-favs{
  margin-top: 0.5em;
  gap: 5.9em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-fav1, .img-fav2, .img-fav3, .img-fav4{
    border: 1px solid rgb(224, 202, 245);
    display: flex;
    width: 100%;
}
.publi{
  margin-top: 1em;
  border: 2px solid black;
  width: 100%px;
  height: 200px;
}
.ofertas{
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: rgb(224, 202, 245);
  text-align: center;
  font-family: "Atma";
  font-size: 20px;
  text-shadow: -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
.cont-ofertas{
  margin-top: 0.5em;
  gap: 5.9em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-ofer1, .img-ofer2, .img-ofer3, .img-ofer4{
  border: 1px solid rgb(224, 202, 245);
  display: flex;
  width: 100%;
}
footer{
    display: grid;
  grid-template-areas:
    "logo-footer"
    "cont-redes"
    "cont-nos"
    "cont-ayuda"
    "cont-envios"
    "cont-form"
    "cont-bot";
  grid-template-columns: repeat(5, 1fr);
  font-family: "Atma";
  height: 100%;
}
.logo-footer{
  grid-area: logo-footer;
}

.cont-redes{
  grid-area: 2/1;
  margin-left: 1.875em;
  text-decoration: none;
}
.redes{
    display: flex;
    justify-content: space-between;
}
.redes a{
    display: block;
    text-decoration: none;
    font-weight: 500;
}
.redes .facebook{
  list-style-image: url(imagenes/facebook.png);
}
.redes .instagram{
  list-style-image: url(imagenes/instagram.png);
}
.redes .twitter{
  list-style-image: url(imagenes/gorjeo.png);
}
.cont-nos{
  grid-area: 1/2;
  display: grid;
  justify-items:center;
  align-items: end;
}
.cont-ayuda{
    grid-area: 1/3;
    display: grid;
    justify-items:center;
    align-items:end;
}
.cont-envios{
    grid-area: 1/4;
    display: grid;
    justify-items:center;
    align-items:end;
}
.cont-form{
    display: grid;
    justify-items:center;
    align-items:end;
    grid-area: 1/5;
}
.nosotros, .ayuda, .envios, .novedades{
  list-style: none;

}
.cont-bot{
    grid-area: 2/5;
    display:grid;
    justify-items: center;
    align-items: center;
}
.cont-bot input{
  padding: 0.313em;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Roboto";
}
.boton-form{
  padding: 0.313em;
  margin-top: 0.313em;
  border: 2px solid black;
  border-radius: 10px;
  background: aquamarine;
  font-family: "Roboto";
  width: 50%;
}