@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  background-color: rgb(248, 245, 240);
}

.encabezado{
  box-sizing: border-box;
  width: 100%;
}
.contenedor{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.contenedor .logo{
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
.logo{
  width: 400px;
}
.inicio{
  box-sizing: border-box;
  display: flex;
  list-style: none;
  width: max-content;
}
.inicio-lateral{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1em;
  right: 0;
  width: max-content;
}
.inicio li a{
  font-family: "Atma";
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: beige;
}
.inicio-lateral li a{
  font-family: "Roboto";
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: beige;
}
.buscar{
  list-style-image: url(imagenes/buscar.png);
  margin-left: 2em;
}
.buscar input{
  padding: 0.313em;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Roboto";
  background-color: beige;
}
.cuenta{
  list-style-image: url(imagenes/cuenta.png);
  margin-left: 2em;
}
.carrito{
  list-style-image: url(imagenes/carrito.png);
  margin-left: 2em;
}
.page1{
  margin: 8px;
  max-width: 100%;
}
.slider{
  margin-top: 1em;
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  height: 300px;
}
.contenedor-main{
  margin-top: 0.5em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8em;
}
.favoritos{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: rgb(224, 202, 245);
  text-align: center;
  font-family: "Atma";
  font-size: 20px;
  text-shadow:-1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
.cont-favs{
  box-sizing: border-box;
  margin-top: 0.5em;
  gap: 5.9em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-fav1, .img-fav2, .img-fav3, .img-fav4{
    border: 1px solid rgb(224, 202, 245);
}
.publi{
  box-sizing: border-box;
  margin-top: 1em;
  border: 2px solid black;
  width: 100%px;
  height: 200px;
}
.ofertas{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: rgb(224, 202, 245);
  text-align: center;
  font-family: "Atma";
  font-size: 20px;
  text-shadow: -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
.cont-ofertas{
  box-sizing: border-box;
  margin-top: 0.5em;
  gap: 5.9em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-ofer1, .img-ofer2, .img-ofer3, .img-ofer4{
  border: 1px solid rgb(224, 202, 245);
}
footer{
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  font-family: "Atma";
}
.logo-footer{
  position: relative;
  width: 9.375em;
  height: 9.375em;
}

.redes{
  display: flex;
  margin-left: 1.875em;
  text-decoration: none;
}
.redes a{
  text-decoration: none;
  font-weight: 500;
}
.redes .facebook{
  list-style-image: url(imagenes/facebook.png);
  margin-left: 1.875em;
}
.redes .instagram{
  list-style-image: url(imagenes/instagram.png);
}
.redes .twitter{
  list-style-image: url(imagenes/gorjeo.png);
  margin-left: 1.875em;
}
.empresa{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3em;
}
.nosotros, .ayuda, .envios, .novedades{
  list-style: none;

}
.novedades input{
  padding: 0.313em;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Roboto";
}
.boton-form{
  position: relative;
  left: 3.125em;
  padding: 0.313em;
  margin-top: 0.313em;
  border: 2px solid black;
  border-radius: 10px;
  background: aquamarine;
  font-family: "Roboto";
}