@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
      background-color: #1f1f1f;
      color: #e0e0e0;
      height: 100vh;
      margin: 0;
      background-image: url(imagenes/background.png);
      background-repeat: round;
    }

    .form-container {
      background-color: rgba(255, 255, 255, 0.08);
      padding: 2rem;
      border-radius: 1rem;
      max-width: 400px;
      margin: auto;
      margin-top: 10vh;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      color: #ffffff;
    }

    .form-control {
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid #555;
      color: #fff;
    }

    .form-control::placeholder {
      color: #bbb;
    }

    .btn-primary {
      background-color: #343a40;
      border-color: #343a40;
    }

    .btn-primary:hover {
      background-color: #212529;
      border-color: #212529;
    }